<p>modificar-area works!</p>


<div class="card">
    <div class="card-body text-center bg-primary text-white">
      <h5 class="card-title">Modificar Área</h5>
      <div class="container mt-4">
        <input type="number" class="form-control" [(ngModel)]="areaId" name="areaId">
        <button class="btn btn-primary mt-2" (click)="getAreaById(areaId)">Buscar</button>
        
        <div class="mt-4" *ngIf="areaEncontrada">
          <h3>Área:</h3>
          <p>ID: {{ areaEncontrada.id }}</p>
          <div class="form-check form-switch text-center">
            <div class="d-flex justify-content-center align-items-center">
              <input class="form-check-input switch-lg" type="checkbox" [(ngModel)]="areaEncontrada.activo" name="activo" id="activoSwitch">
              <label class="form-check-label switch-label" for="activoSwitch" [ngClass]="{'text-success': areaEncontrada.activo, 'text-danger': !areaEncontrada.activo}">
                {{ areaEncontrada.activo ? 'Activo' : 'Inactivo' }}
              </label>
            </div>
          </div>
          <input type="string" class="form-control" [(ngModel)]="areaEncontrada.nombre" name="areaId">
          <button class="btn btn-primary mt-2" (click)="modificarArea()">Guardar Cambios</button>
        </div>
        <br>
        <div class="mt-4" *ngIf="error" class="alert alert-danger">
          <p>Error: {{ error }}</p>
        </div>
        <div class="alert alert-success" *ngIf="successMessage">
            {{ successMessage }}
          </div>
      </div>
    </div>
  </div>