<div class="card" style="width: 95%; ">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Usuarios</h4>
    <button class="btn btn-primary" (click)="openModal()">Nuevo</button>
  </div>
  
  <div class="container card-body">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="idUsuario">Id:</label>
          <input type="text" class="form-control" id="idUsuario" [(ngModel)]="idUsuario">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" [(ngModel)]="email">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="form-group">
          <label for="documento">Documento:</label>
          <input type="text" class="form-control" id="documento" [(ngModel)]="documento">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center">
        <div class="form-group">
          <label style="margin-right: 10px;" for="activo">Activo:</label>
          <input type="checkbox" id="activo" [(ngModel)]="activo">
        </div>
        
      </div>
      <div class="col-12 d-flex justify-content-end" style="padding-right: 20px; margin: 10px;">
          <button class="btn btn-primary" (click)="applyFilters()">Aplicar Filtros</button>  
      </div>
    </div>
  </div>


<!-- Resultados -->

<div *ngIf="usuarios.length > 0" class="card" >
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Nombre</th>
        <th>Documento</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of usuarios">
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.persona.primerNombre }}</td>
            <td>{{ u.persona.documento }}</td>
            <td>{{ u.email }}</td>
            <td>
              <img src="..\assets\editar2.png" ngbTooltip="Modificar" (click)="openModificar(u.id)">
              <!-- <img src="..\assets\editar2.png" ngbTooltip="Modificar" [routerLink]="['/modificar-usuario', u.id]"> -->
              <!--  <a class="btn btn-primary" [routerLink]="['/modificar-usuario', u.id]">Modificar</a> -->
            </td>
            <td>
              <img src="..\assets\roles2.png" ngbTooltip="Roles" (click)="openRoles(u.id)">
            </td>
          </tr>
          
    </tbody>
  </table>
</div>

<!-- Paginado -->
<div *ngIf="usuarios.length > 0" class="d-flex justify-content-center" style="margin: 10px;">
  <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="previousPage()">Anterior</button>
  <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
  <button class="btn btn-primary" [disabled]="currentPage === totalPages" (click)="nextPage()">Siguiente</button>
</div>
</div>

<ng-template #modalNuevo let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nuevo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body"></div>
  <app-alta-usuario></app-alta-usuario>
  <div class="modal-footr"></div>
</ng-template>

