<h2>Agregar Postulante</h2>

<!-- Formulario para seleccionar persona y llamado -->
<form (ngSubmit)="altaPostulante()">
  <div class="form-group">
    <label for="persona">Persona:</label>
    <select id="persona" class="form-control" [(ngModel)]="personaId" name="personaId">
      <option *ngFor="let persona of personas" [value]="persona.id">{{ persona.primerNombre }} {{ persona.primerApellido }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
