<div class="card">
  <div class="card-header">
    <h4>Nueva Área</h4>
  </div>
  <div class="card-body">
    <div class="alert alert-success" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <div class="mt-4" *ngIf="errorMessage" class="alert alert-danger">
      <p>Error: {{ errorMessage }}</p>
    </div>
    
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="string" class="form-control" [(ngModel)]="nombre" name="nombre">
    </div>

    <div class="form-group" style="margin-top: 10px;">
      <label style="margin-right: 10px;" for="activo">Activo:</label>
      <input type="checkbox" class="form-checkbox" id="activo" [(ngModel)]="activo">
    </div>
    <div class="d-flex justify-content-end" style="margin-top: 10px; margin-bottom: 10px;">
      <button class="btn btn-primary mt-2" (click)="crearArea()">Guardar</button>
    </div>
  </div>
</div>
