<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Sitio Web</title>

</head>
<body>
  <div *ngIf="isLoggedIn">
    <div *ngIf="userRoles.includes('ADMIN')">
      <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">UTEC Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/logout" (click)="logout()">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">UTEC Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarNav">
          <ul class="navbar-nav ml-auto">
           
            <li class="nav-item">
              <a class="nav-link" href="/listar-areas">Áreas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar-responsabilidades">Responsabilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar-tipo-documento">Tipos de Documento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar-tipo-integrante">Tipos de Integrante</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar-posibles-estados-llamados">Estados Posibles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar-responsabilidades">Responsabilidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listar-usuario">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/logout" (click)="logout()">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Esto es un comentario en HTML 
      <a routerLink="/alta-tipo-integrante">Dar de alta Tipo de Integrante</a><br>
      <a routerLink="/listar-tipo-integrante">Listar Tipo de Integrante</a><br>
      <a routerLink="/alta-tipo-documento">Ir a Alta Tipo de Documento</a><br>
      <a routerLink="/listar-tipo-documento">listar-tipo-documento</a><br>
      <a routerLink="/alta-responsabilidades">alta responsablidades</a><br>
      <a routerLink="/listar-responsabilidades">listar responsablidades</a><br>
      <a routerLink="/alta-postulante">alta Postulante</a><br>
      <a routerLink="/alta-persona">alta Persona</a><br>
      <a routerLink="/listar-persona">listar persona</a><br>
      <a routerLink="/alta-estados-posibles-llamado">alta estados posibles llamado</a><br>
      <a routerLink="/listar-posibles-estados-llamados">listar estados posibles llamado</a><br>
      <a routerLink="/alta-miembros-tribunales">alta miembros tribunales</a><br>
       Esto es un comentario en HTML -->
     
    </div>
  </div>

  <div *ngIf="!isLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Logeate</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Iniciar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Inicia sesión para acceder</h1>
    <!-- Resto del contenido de la página de inicio de sesión -->
  </div>
  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
  
</body>
</html>
