<div class="card" >
    <div class="card-header">
      <h2>Ingresar contraseña</h2>
    </div>
    <div class="card-body"> 
      <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
      <form (submit)="confirmarPassword()" class="mb-3">
        <div class="form-group">
          <label for="pass">Contraseña:</label>
          <input type="password" id="pass" [(ngModel)]="password" name="pass" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirmPass">Confirmar contraseña:</label>
            <input type="password" id="confirmPass" [(ngModel)]="confirmPassword" name="confirmPass" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Confirmar</button>
      </form>
    </div>
  </div>
