<div class="card" >
    <div class="card-header">
      <h2>Reestablecer contraseña</h2>
    </div>
    <div class="card-body"> 
      <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
      <form (submit)="confirmar()" class="mb-3">
        <div class="form-group">
          <label for="email">Ingrese su email:</label>
          <input type="text" id="email" [(ngModel)]="email" name="email" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Confirmar</button>
      </form>
    </div>
  </div>