<div class="card">
  <div class="card-body text-center bg-primary text-white">
    <h5 class="card-title">Buscar Área</h5>
    <div class="container mt-4">
      <input type="number" class="form-control" [(ngModel)]="areaId" name="areaId">
      <button class="btn btn-primary mt-2" (click)="getAreaById(areaId)">Buscar</button>

      <div class="mt-4" *ngIf="area">
        <h3>Área:</h3>
        <p>ID: {{ area.id }}</p>
        <p>Activo: {{ area.activo }}</p>
        <p>Nombre: {{ area.nombre }}</p>
      </div>
      <br>
      <div class="mt-4" *ngIf="error" class="alert alert-danger">
        <p>Error: {{ error }}</p>
      </div>
    </div>
  </div>
</div>